! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   Cloud
! vim:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ----------------------------------------------------------------------------

! Fonts
#define FONT            -*-tamsyn-medium-r-*-*-14-*-*-*-*-*-*-*
#define FONTBOLD            -*-tamsyn-bold-r-*-*-14-*-*-*-*-*-*-*

! Colors
#include "/home/mfin/.config/colors/myown2"

*background: #222222
*foreground: #93a1a1

*font:          FONT
*fontbold:      FONTBOLD

Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Terminal
URxvt.matcher.button:    1
URxvt.perl-ext-common:   default,matcher,clipboard
URxvt.colorUL:           #86a2be
URxvt.InternalBorder:    0
URxvt.externalBorder:    0
URxvt*cursorColor:       #dc322f
URxvt.cursorBlink: 1
URxvt*underlineColor:   #dc322f
URxvt*scrollBar:         false
URxvt*saveLines:         1000
URxvt*skipScroll:        false
URxvt*secondaryWheel:    true
URxvt.inputMethod:       ibus
URxvt.preeditType:       OverTheSpot

Xcursor.theme: 		 default
